name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Python 3.10
        uses: actions/setup-python@v5 # ТЕПЕРЬ СТОИТ V5, ЭТО ИСПРАВЛЯЕТ ОШИБКУ ИЗ ЛОГА
        with:
          python-version: '3.10'

      - name: Install Buildozer and Cython
        run: |
          pip install --upgrade pip
          pip install "Cython>=3.0.0" buildozer wheel

      - name: Build with Buildozer
        run: |
          # Прямая сборка без команды clean, которая вызывала FileNotFoundError
          buildozer -v android debug
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CanterPro-Android-15
          path: bin/*.apk
