name: Build APK
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer Container
        run: |
          # Используем -i для интерактивного режима и передаем 'y' через пайп внутри оболочки
          docker run -i --volume "$(pwd)":/home/user/hostpath \
            --env BUILDOZER_WARN_ON_ROOT=0 \
            kivy/buildozer:latest \
            /bin/bash -c "echo 'y' | buildozer android debug"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CanterPro-APK
          path: bin/*.apk
