name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Tools
        run: |
          sudo apt-get install -y build-essential git libsdl2-dev libssl-dev python3-dev
          pip install --upgrade pip
          pip install "Cython<3.0" buildozer wheel

      - name: Build with Buildozer
        run: |
          # Чистим все хвосты перед сборкой
          buildozer android clean
          buildozer -v android debug
        env:
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: CanterPro-Android15-Ready
          path: bin/*.apk
