name: Android Build
on:
  push:
    branches: [ main ] # Сборка запускается при каждом сохранении кода в ветку main
  workflow_dispatch: # Позволяет запустить сборку вручную кнопкой в Actions

jobs:
  build:
    runs-on: ubuntu-latest # Используем самый свежий сервер Ubuntu

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install System Dependencies
        # Здесь собраны все системные пакеты для работы Flet, а также библиотеки для карт и Excel
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            python3-pip \
            build-essential \
            git \
            python3-dev \
            ffmpeg \
            libsdl2-dev \
            libsdl2-image-dev \
            libsdl2-mixer-dev \
            libsdl2-ttf-dev \
            libportmidi-dev \
            libswscale-dev \
            libavformat-dev \
            libavcodec-dev \
            zlib1g-dev \
            libgstreamer1.0-gstreamer-lite-dev \
            libgstreamer1.0-dev \
            libgstreamer-plugins-base1.0-dev \
            zip \
            unzip \
            openjdk-17-jdk
          pip install --upgrade pip
          pip install Cython==0.29.33 buildozer

      - name: Build with Buildozer
        # 'yes' автоматически отвечает на все вопросы лицензий Android SDK
        run: |
          yes | buildozer -v android debug

      - name: Upload Finished APK
        # Сохранение результата в артефакты GitHub
        uses: actions/upload-artifact@v4
        with:
          name: canter-logistics-apk
          path: bin/*.apk
