name: Build
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential git python3-dev zip unzip openjdk-17-jdk ffmpeg libsdl2-dev
          pip install --upgrade pip
          pip install "Cython<3.0" buildozer
      - name: Build APK
        run: yes | buildozer -v android debug
      - uses: actions/upload-artifact@v4
        with:
          name: CanterPro-APK
          path: bin/*.apk
